extends layout

block content
  h1= title
  #login
    input(v-model="user.username")
    input(type="password",v-model="user.userpass")
    button(@click="onclick") login
  script(src='/javascripts/login.js')
