extends layout

block content
  //link(rel='stylesheet', href='/libs/bootstrap-wysiwyg/index.css')
  div#content_edit
    div#content_id(content_id=content_id)
    input(v-model="content.title")
    a(href="/mp/del/"+content_id) del
    div.btn-toolbar(data-role="editor-toolbar",data-target="#editor")
        a(data-edit="bold")
        a.btn.btn-large(data-edit="bold")
          i.icon-bold
    input#editor(contenteditable="true",v-model="content.content")
    button(@click="onclick") {{btn.update}}
    //script(src='/libs/bootstrap-wysiwyg/bootstrap-wysiwyg.js')
    script(src='/ckeditor/ckeditor.js')
    script(src='/javascripts/content_edit.js')
