body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #fff;
}

.select {
    width: 100px;
    height: 100px;
    background: #ccc;
    text-align: center;
    border-radius: 50%;
    line-height: 100px;
}

#nav_bar {
    width: 100%;
    height: 35px;
    top: 0;
    position: fixed;
    z-index: 200;
    width: 100%;
    border-bottom: solid 1px #ca2100;
    background-color: #db4c3f;
    line-height: 35px;
    text-align: right;
    color: #fff;
}

.logout_btn {
    cursor: pointer;
    padding-right: 10px;
}

.center {
    text-align: center;
}

.reg_pan {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.reg_btn,
.login_btn {
    background: 0;
    background-color: #db4c3f;
    color: white !important;
    text-shadow: none;
    border: 1px solid transparent;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 13px !important;
    font-weight: normal;
    padding: 9px 12px;
    box-sizing: border-box;
}

input {
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    border-radius: 2px;
}

.username {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Q…AyNywxNiBaIiBpZD0idXNlcl9pY29uIj48L3BhdGg+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPgo=);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 37px;
}

.userpass {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Q…40NzEyNjUxLDI3OS40OTAyNDMgWiIgaWQ9IlNoYXBlIj48L3BhdGg+PC9nPjwvZz48L3N2Zz4K);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 37px;
}

.msg {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.left_menu {
    float: left;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    top: 35px;
    bottom: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0;
}

li:hover {
    background-color: #f5f5f5;
}

.content {
    background-color: #fff;
    padding-left: 20px;
    position: fixed;
    right: 20px;
    top: 35px;
    bottom: 0;
    left: 280px;
    padding-top: 20px;
}

.add_project_btn,.add_task_btn {
    margin-top: 5px;
    margin-right: 5px;
    background: 0;
    background-color: #db4c3f;
    color: white !important;
    border: 1px solid transparent;
    font-size: 12px !important;
    line-height: 17px;
    text-decoration: none;
    padding: 6px 12px 7px 12px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
button{
    border-radius: 2px;
}